In [1]:
import pandas as pd

In [2]:
df = pd.read_excel('01_Tensile_Low_Carbon_Steel.xls')

In [3]:
df.head()

   Load [kN]  Displacement [mm]
0      0.001              0.000
1      0.001              0.000
2      0.003              0.021
3      0.003              0.021
4      0.007              0.068

In [4]:
df.isna().sum()

Load [kN]            0
Displacement [mm]    0
dtype: int64

In [5]:
df.isnull().sum()

Load [kN]            0
Displacement [mm]    0
dtype: int64

In [6]:
df.describe()

       Load [kN]  Displacement [mm]
count  427.00000         427.000000
mean     3.03641           3.519386
std      3.20728           2.167422
min      0.00100           0.000000
25%      0.07200           1.636000
50%      1.89500           3.429000
75%      5.53200           5.351000
max     10.03500           7.489000

In [ ]:
#test train splittingsSSS

In [9]:
from sklearn.model_selection import train_test_split

In [12]:
X = df.drop(labels=['Displacement [mm]'],axis=1)

In [13]:
X.shape

(427, 1)

In [14]:
y=df['Displacement [mm]']

In [15]:
X.head()

   Load [kN]
0      0.001
1      0.001
2      0.003
3      0.003
4      0.007

In [16]:
y

0      0.000
1      0.000
2      0.021
3      0.021
4      0.068
       ...
422    7.450
423    7.450
424    7.450
425    7.450
426    7.489
Name: Displacement [mm], Length: 427, dtype: float64

In [17]:
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.3,random_state=0)

In [ ]:
#regression models

In [7]:
from sklearn.linear_model import LinearRegression

In [8]:
lr = LinearRegression()

In [19]:
lr.fit(X_train,y_train)

LinearRegression()

In [20]:
lr.score(X_test,y_test)

0.9125342992197629

In [21]:
from sklearn.linear_model import Lasso

In [22]:
ls = Lasso()

In [23]:
ls.fit(X_train,y_train)

Lasso()

In [24]:
ls.score(X_test,y_test)

0.8849909747111487

In [25]:
from sklearn.linear_model import Ridge

In [26]:
rg = Ridge()

In [27]:
rg.fit(X_train,y_train)

Ridge()

In [28]:
rg.score(X_test,y_test)

0.9125197574410604

In [38]:
from sklearn.ensemble import RandomForestRegressor

In [39]:
rfr = RandomForestRegressor()

In [40]:
rfr.fit(X_train,y_train)

RandomForestRegressor()

In [41]:
rfr.score(X_test,y_test)

0.9999316674358514

In [48]:
rfr = RandomForestRegressor(n_estimators=500,random_state=0)

In [49]:
rfr.fit(X_train,y_train)

RandomForestRegressor(n_estimators=500, random_state=0)

In [50]:
rfr.score(X_test,y_test)

0.9999283705842832